
.sofa_light_dashboard_furniturestore_components_brands {
    width: 100%;
  }
  
.sofa_light_dashboard_furniturestore_components_brands p {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }

  .sizeOne {
    font-size: 18px;
  }
  .sizeTwo {
    font-size: 14px;
  }

  .sofa_light_dashboard_furniturestore_components_brands ul {
    list-style: none;
  }

  .sofa_light_dashboard_furniturestore_components_brands ul li{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    cursor: pointer;
  }
  .sofa_light_dashboard_furniturestore_components_brands ul li:hover {
    font-weight: bolder;
  }
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 3px;
    left: -5px;
    height: 15px;
    width: 15px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: black;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: black;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 4px;
    top: -2px;
    width: 7px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }