.sofa_light_dashboard_furniturestore {
    width: 80vw;
    height: fit-content;
    background-color: white;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}